.icet-img {
    width: 40px;
    height: 15px;
}

.btn {
    margin: 5px 5px 0px 0px;
    border-width: 2px !important;
    font-weight: 600 !important;
}

.fade-in {
    opacity: 0 !important;
    transition: opacity 1s ease-in-out !important;
}

.fade-in.active {
    opacity: 1 !important;
}

.msg{
    margin-bottom: 5px;
    font-weight: 500;
}

.btn-submit{
    margin-top: 5px !important;
    /* padding-top: 0px !important; */
}
.avtr_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.avtr{
    width: 80px;
    height: 80px;
    border-radius: 60%;
}

.transparent-modal .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* You can adjust the alpha value (0.5) for the desired level of transparency */
}
